body {
    font-family: "Open Sans Light", sans-serif, light;
    overflow: auto;
    background-color: #f9f9f9;

}

#container {

    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
}

#sidebar #main {
    display: inline-block;
    vertical-align: top;
}

/* The side navigation menu */
#sidebar {
    height: 100%; /* 100% Full-height */
    width: 340px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: #2b2f3e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
}

/* The navigation menu links */
#lists a {
    padding: 30px 8px 30px 40px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #ffffff;
}

/* When you mouse over the navigation links, change their color */
#lists a:hover, .offcanvas a:focus {
    background-color: #ff3951;
    color: #ffffff;
}

/* Position and style the close button (top right corner) */
.sidebarName {
    display: block;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 100px;
    font-size: 36px;
}

.sidebarName a {
    text-decoration: none;
    color: #ffffff;
}

/*#main {*/
/*float: right;*/
/*width: calc(100% - 400px);*/
/*height: calc(100% - 220px);*/
/*position: fixed;*/
/*}*/

#main {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
}

#main section {
    vertical-align: top;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    -webkit-box-shadow: 0px 0px 5px 0px #d3d3d3;
            box-shadow: 0px 0px 5px 0px #d3d3d3;
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#main .home {
    margin-top: 165px;
    margin-left: 100px;
    border: none;
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.items {
    margin-left: 150px;
    margin-right: 10px;
}

.items h1, .comments h1 {
    font-size: 36px;
    color: #565a69;
}

.comments {
    height: auto;
}

svg .rectComment {
    color: #f9f9f9;
}

.itemName, .itemAdd {
    display: inline;
}

.itemName li {
    list-style: none;
    padding-top: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #565a69;
    margin-top: 15px;
}

.itemName:hover, .itemName:focus {
    border-left-color: #ff3951;

}

button {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 18px;

}

#inputItem {
    font-size: 16px;
}

#addItem {
    background-color: #27ccc0;
    color: white;
    border: 1px solid #27ccc0;
    float: right;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.deleteItem {
    border: 1px solid #ff3159;
    color: #ff3159;
    background-color: #ffffff;;
    float: right;
}

.addComments {
    padding-top: inherit;
}

textarea {
    float: right;
    resize: none;
    width: auto;
    height: auto;
}

.badge-counter {
    margin-top: 8px;
    padding: 0 6px;
    line-height: 18px;
    font-size: 11px;
    background: #27ccc0;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {

}


@media screen and (max-width: 1200px) and (min-width: 768px) {
    #sidebar {
        height: 100%;
        width: 200px;
    }

    #main {
        margin-left: 200px;
        width: 90%;
    }

    #main section .comments{
        display: none;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        font-size: 16px;
        float: none;
    }

    .items {
        margin-left: auto;
    }
}

@media screen and (max-width: 767px) {
    #sidebar {
        height: 150px;
        width: 100%;
        text-align: center;
    }

    .sidebarName {
        padding-left: 40px;
        padding-bottom: 20px;
        font-size: 36px;
    }

    #main section {
        width: 95%;
        height: 100%;
        margin-top: 165px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .items {
        margin-left: 0px;
    }

    #main section .comments {
        margin-top: 5px;
    }
}

/*@media all and (max-width: 768px) {*/
/*#main {*/
/*width: 94%;*/
/*padding: 3%;*/
/*}*/

/*#sidebar {*/
/*width: 94%;*/
/*padding: 3%;*/
/*border-top: 3px solid #1a1a1a;*/
/*}*/

/*.items, .comments {*/
/*text-align: center;*/
/*}*/

/*}*/

/*@media all and (max-width: 330px) {*/
/*nav ul li {*/
/*display: block;*/
/*width: 94%;*/
/*}*/
/*}*/