<div class="main" data-ng-controller="ItemController">
  <section class="items">
    <h1>Items</h1>
    <form class="itemAdd" data-ng-submit="addItem()">
      <input data-ng-model="itemText" type="text" id="inputItem" placeholder="Type name here..."/>
      <button type="submit" id="addItem">Add new</button>
    </form>

    <ul class="itemName">
      <li data-ng-model="item.id" data-ng-repeat="item in items track by $index"
          class="item list-unstyled id-{{ item.id }}"
          ng-click="selectItem($index)">
        {{item.text}}
        <span ng-show="selectItem($index)" class="sideLine"></span>
        <span class="badge-counter" ng-bind="badgeCounter($index)"></span>
        <button type="button" class="deleteItem" ng-click="removeItem()">Delete</button>
      </li>
    </ul>
  </section>

  <section class="comments">
    <h1>Comments</h1>
    <div id="commentDisplay" ng-repeat="comment in items[activeItemIndex].comments track by $index">
      <div class="svgRect">
        <svg width="60" height="60">
          <rect width="60" height="60" ng-class="$even ? 'odd' : 'even'"></rect>
        </svg>
      </div>
      <div class="commentShow">
        <p><span data-ng-model="comment">{{comment}}</span></p>
      </div>
    </div>
    <!--</div>-->
    <form data-ng-submit="addComment()">
      <label for="commentArea">
        <svg width="60" height="60">
          <rect width="60" height="60"></rect>
        </svg>
      </label>
      <input type="text" id="commentArea" data-ng-model="itemComment">
    </form>
  </section>
</div>